@import 'Assets/styles/utils/index.module.scss';

.main {
  position: relative;
  top: $header-height;
  right: 0;
  left: 0;
  overflow-x: hidden;
}

@media (max-width: $bp-desktop) {

  .main {
    padding-bottom: 200px;
  }
}
